{% extends "base.html" %}
{% block content %}
    <h1> Simple human resources manager </h1>
    <p> Human resource management (HRM or simply HR) is the management of human resources.
        It is a function in organizations designed to maximize employee performance in service
        of an employer's strategic objectives. HR is primarily concerned with the management
        of people within organizations, focusing on policies and on systems. HR departments
        and units in organizations typically undertake a number of activities, including
        employee benefits design, employee recruitment, "training and development",
        performance appraisal, and rewarding (e.g., managing pay and benefit systems). HR
        also concerns itself with organizational change and industrial relations, that is,
        the balancing of organizational practices with requirements arising from collective
        bargaining and from governmental laws.</p>
{% endblock %}