{% extends "base.html" %}
{% block content %}
    {% if department %}
        <form action="{{ url_for('update_department', department_id = department.id) }}" method="post"
              name="update_department">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" value="{{ department.name }}" name="name">
            </div>
            <div class="form-group">
                <label for="parental_department_id">Parental Department:</label>
                <select class="form-control" id="parental_department_id" name="parental_department_id">
                    <option value="0">empty</option>
                    {% for dprt in departments %}
                        {% if department.parental_department_id == dprt.id %}
                            <option selected value="{{ dprt.id }}">{{ dprt.name }}</option>
                        {% else %}
                            <option value="{{ dprt.id }}">{{ dprt.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="leader_id">Leader:</label>
                <select class="form-control" id="leader_id" name="leader_id">
                    <option value="0">empty</option>
                    {% for user in users %}
                        {% if department.leader_id == user.id %}
                            <option selected value="{{ user.id }}">{{ user.name }}</option>
                        {% else %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" value="{{ department.description }}"
                       name="description">
            </div>
            <p><input type="submit" class="btn btn-primary" value="Update"></p>
        </form>
        <form action="{{ url_for('delete_department', department_id = department.id) }}" method="post">
            <p><input type="submit" class="btn btn-danger" value="Delete"></p>
        </form>
    {% else %}
        <h2>Department not found.</h2>
    {% endif %}
{% endblock %}